
  /* heading section */

 .header{
     background-color: #f7d6dd;
        height: 100vh;
    }
*{
    padding:0;
    margin:0;
}

/* flex between */
.contanier{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 0 120px ;
    text-align:justify;
}


/* Left-text area*/
.main-heading
{
    font-size: 30px;
}

.btn{  
    width: 177px;
    height: 64px;
    border: 0;
    border-radius: 15px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
}

/* 2nd page title */

    .ourtitle{

    padding-top: 100px;
        text-align: center;
        padding-bottom: 100px;
}
/* shape section */

.first{
    width: 550px;
    height: 700px;
background-color: #f099c3;
border-top-left-radius: 250px;
border-top-right-radius: 250px;
align-items: center;

}
.second{
    width: 550px;
    height: 700px;
    background-color: rgb(127, 127, 209);
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    align-items: center;
}
.third{
    width: 550px;
    height: 700px;
    background-color:rgb(233, 233, 148);
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    align-items: center;
}
.shape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 250px;
    padding: 0px 20px 0px 20px; 

}
.underline{
     justify-content: space-between;
     list-style: none;
     display: flex;
}
