
    /* heading section */

 .header{
     background-color: #f7d6dd;
        height: 100vh;
    }
*{
    padding:0;
    margin:0;
}

/* flex between */
.contanier{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 0 120px ;
    text-align:justify;
}


/* Left-text */
.main-heading
{
    font-size: 30px;
}

.btn{  
    width: 177px;
    height: 64px;
    border: 0;
    border-radius: 15px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
}